---
// @ts-ignore
import BasicBlock from "../_structure/basicBlock.vue";
import PaddingContainer from "../_structure/paddingContainer.vue";
import ContactForm from '../functional/contactForm.vue'
---

<section id="contactSection" class="w-full h-full">

  <PaddingContainer>
    <BasicBlock extra-borders="bottom-border" padding="padding">
      <h2
        text-split words-slide-up
        class="font-semibold text-neutral-100 font-heading text-balance"
      >
        <span class="text-stone-600 pr-2 md:pr-4">5.</span>No dejes estar tu negocio, dale
        la ventaja que necesita en este nuevo mercado.
      </h2>
    </BasicBlock>
    <BasicBlock extra-borders="bottom-border" padding="padding">
      <div class="flex w-full h-full flex-col md:flex-row gap-8 items-center">
        <div class="w-full h-full flex justify-center flex-col px-8">
          <p text-split words-slide-up class="text-neutral-300 text-lg text-balance">
            Estas a solo un paso de darle a tu negocio una ventaja sobre toda la
            competencia y ponerlo en la primera plana de tus futuros clientes.
          </p>
        </div>
        <ContactForm client:load  data-animate="blur-up"/>
      </div>
    </BasicBlock>
  </PaddingContainer>
</section>
<script>
  //@ts-ignore
  import {initAllAnimations} from '@animations/initAnimations.js'
  
  initAllAnimations()
</script>
