---
import { Image } from 'astro:assets';
//@ts-ignore
import StructureBasicBlock from "../_structure/basicBlock.vue";
import IndifferenceImage from "../../../assets/Indifference.png";
---

<section id="introSection" class="w-full h-full">
  <StructureBasicBlock extra-borders="bottom-border" padding="padding">
    <template #no-padding>
      <StructureBasicBlock extra-borders="bottom-border" padding="padding">
        <h2 class="font-semibold text-neutral-100 font-heading">
          <span class="text-stone-700 pr-2 md:pr-8">1.</span>Bienvenido al Mundo Moderno
        </h2>
      </StructureBasicBlock>
    </template>
    <div class="flex flex-col gap-4 w-full">
      <p class="font-body text-xl text-neutral-300">
        Un mundo donde la atenci贸n se volvi贸 el nuevo oro y cada vez es mas
        escaso. Donde ya nadie tiene tiempo. Donde existen maquinas pensantes
        que incluso controlan negocios enteros. Y si, suena loco pero es el
        mundo en el que estamos ahora, y donde estas intentando hacer que tu
        negocio funcione.
      </p>
      <Image
        src={IndifferenceImage}
        alt="La indiferencia del consumidor"
        class="w-full h-auto rounded-lg shadow-lg"
      />
      <p class="font-body text-xl text-neutral-300">
        Hoy en dia, hay mucha mas exposici贸n. Pero eso a su vez, trae mas
        competencia. Hoy, la visibilidad en redes se volvi贸 la diferencia entre
        un negocio con futuro a uno que sobrevive.
      </p>
    </div>
  </StructureBasicBlock>
</section>
