@import "tailwindcss";
@import './fonts.css';

@theme {
    --font-heading: 'Mango Grotesque', sans-serif;
    --font-body: 'Nohemi', sans-serif;

}



@layer base {
  h1 { font-size: clamp(80px, 8vw, 140px); line-height: 0.8;font-family: var(--font-heading); }
  h2 { font-size: clamp(70px, 6.2vw, 104px); line-height: 0.8;font-family: var(--font-heading); }
  h3 { font-size: clamp(34px, 4.1vw, 83px); line-height: 1;font-family: var(--font-heading); }
  h4 { font-size: clamp(31.07px, calc(15.2427px + 1.2873vw), 40.69px); line-height: 1.18;font-family: var(--font-heading); }

  p  { font-size: clamp(18px, calc(16.1818px + 0.4848vw), 22px); line-height: 1.1;font-family: var(--font-body);font-weight: 300; }

  p.caption  { font-size: clamp(16px, calc(16.1818px + 0.12vw), 18px); line-height: 1.6;font-family: var(--font-body);font-weight: 200 ;  letter-spacing: 0.05em; }
  
  p.input  { font-size: clamp(18px, 1.5vw, 22px); line-height: 1.6;font-family: (--font-body); }
    
}



@keyframes dots {
  0% {
    background-position:
      0 0,
      4px 4px;
  }
  100% {
    background-position:
      8px 0,
      12px 4px;
  }
}

/* Creamos una utilidad personalizada para animar */
@utility animate-dots {
  animation: dots 2s linear infinite;
}

[text-split] .word {
  display: inline;            /* IMPORTANT: keep words in normal inline flow */
  white-space: normal;        /* allow normal wrapping */
}

[text-split] .word .char {
  display: inline-block;      /* transforms on chars won't affect line-height/wrapping */
  line-height: 1;             /* keep stable */
  will-change: transform, opacity;
}
