@import "tailwindcss";


@font-face {
  font-family: 'Mango Grotesque';
  src: url('../assets/font/Mango\ Grotesque-VF.ttf') format('ttf');
  font-weight: 500 900;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-heading: 'Mango Grotesque', sans-serif;
    --font-body: var(--font-body);

    
}

.add-dots {
  @apply absolute w-full top-0 left-0 h-full pointer-events-none border-white/30 before:content-[''] before:absolute before:inset-0  before:opacity-25 before:bg-[radial-gradient(rgb(255_255_255/_80%)_20%,transparent_20%),radial-gradient(rgb(255_255_255/_100%)_20%,transparent_20%)] before:bg-[length:8px_8px] before:[background-position:0_0,4px_4px] before:mix-blend-hard-light ;
}

@keyframes dots {
  0% {
    background-position:
      0 0,
      4px 4px;
  }
  100% {
    background-position:
      8px 0,
      12px 4px;
  }
}

/* Creamos una utilidad personalizada para animar */
@utility animate-dots {
  animation: dots 2s linear infinite;
}
