@import "tailwindcss";


@font-face {
  font-family: 'Mango Grotesque';
  src: url('../assets/font/Mango\ Grotesque-VF.ttf') format('ttf');
  font-weight: 500 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  h1 { font-size: clamp(85px, calc(64.5455px + 5.4545vw), 130px); line-height: 1.04; }
  h2 { font-size: clamp(52.53px, calc(39.8845px + 3.3721vw), 80.35px); line-height: 1.08; }
  h3 { font-size: clamp(32.47px, calc(24.6564px + 2.0836vw), 49.66px); line-height: 1.12; }
  h4 { font-size: clamp(20.07px, calc(15.2427px + 1.2873vw), 30.69px); line-height: 1.18; }

  p  { font-size: clamp(18px, calc(16.1818px + 0.4848vw), 22px); line-height: 1.6; }
}

@theme {
    --font-heading: 'Mango Grotesque', sans-serif;
    --font-body: var(--font-body);

    
}

.add-texture::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../assets/textures/Texturelabs_Grunge_halftone.webp') repeat;
  background-blend-mode: multiply;
  /* background-repeat: repeat; */
  background-size: auto;
  opacity: 0.1; /* controlás intensidad */
  pointer-events: none;
}


@keyframes dots {
  0% {
    background-position:
      0 0,
      4px 4px;
  }
  100% {
    background-position:
      8px 0,
      12px 4px;
  }
}

/* Creamos una utilidad personalizada para animar */
@utility animate-dots {
  animation: dots 2s linear infinite;
}
