---
//@ts-ignore
import StructureBasicBlock from "@components/vue/_structure/basicBlock.vue";
import BrandButton from "../Brand/Button.vue";
import { Image } from "astro:assets";
import hermesLogo from  '@assets/logo/hermes-logo.svg'
---
    <StructureBasicBlock extra-borders="bottom-border"  padding="padding">
        <nav class="flex justify-between items-center w-full h-fit">
            <span class="flex gap-1 justify-center items-center"><p class="text-white">Menu</p></span>
            <Image src={hermesLogo} alt="Estudio Hermes Logo" class="w-24 h-full"/>
            <BrandButton href="" text="Agendar Cita" bgColor="bg-amber-300 text-stone-800"/>
        </nav>
    </StructureBasicBlock>
