---
//@ts-ignore
import StructureBasicBlock from "@components/vue/_structure/basicBlock.vue";
import { Image } from "astro:assets";
import hermesLogo from  '@assets/logo/hermes-logo.svg'
---
    <StructureBasicBlock extra-borders="bottom-border"  padding="padding">
        <nav class="flex justify-between items-center w-full h-fit">
            <Image fetchpriority='high' src={hermesLogo} alt="Estudio Hermes Logo" class="w-24 h-24"/>
            <span class="flex gap-1 justify- items-end w-fit px-4"><p class="text-body font-semibold">Menu</p></span>
        </nav>
    </StructureBasicBlock>
