---
import BaseUiNavbar from "../components/vue/_baseUi/navbar.vue";
import StructurePaddingContainer from "../components/vue/_structure/paddingContainer.vue";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/assets/font/Mango%20Grotesque-VF.ttf" as="font" type="font/ttf" crossorigin>
    <title>Astro Basics</title>
  </head>
  <body>
    <div class="bg-black relative">
      <StructurePaddingContainer>
      <header>
        <BaseUiNavbar></BaseUiNavbar>
      </header>
      </StructurePaddingContainer>
      <!-- <div class="absolute w-full h-full bg-noise left-0 top-0 opacity-40">
      </div> -->
      <main class="add-texture">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
        .bg-noise {
        background-image: url("../assets/noise.svg");
        background-repeat: repeat;
        background-size: auto;
      }
</style>
